* {
  margin: 0;
  padding: 0;
}
.edit-card{
width: 90%;
  
}
.fas {
  font-size: 25px;
}
.close{
  width: 30px;
  height: 30px ;
  background: transparent;
  border: none;
  
}
#open{
  display: none;
}
.fas:hover{
  color: red;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1d25;
}
.category{
  width: 200px;
}
.precio{
  width: 200px;
}
#file{
  border: none;
}
header {
  width: 100%;
  height: 20%;
  background-color: #11131e;

}
.titleProduct{
  width: 200px;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card {
  width: 17rem;
  height: 26rem;
  border: double;
  border-radius: 15px;
  background-color: #ffff;
  margin: 0.5rem;
  

}
input, select, textarea{
  height: 30px;
  border-radius: 8px;
  border: none;
}
input, select, textarea:hover{
  border: 1px solid rgb(95, 159, 186);
}
img {
    width: 99.5%;
    height: 50%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    animation: change-filter 5s infinite;    
  }

  h2 {
    text-align: center; 
    color: black;   
  }
   p {
    font-size: 0.8rem;
    overflow: hidden;
    text-align: justify;
    margin: 1rem;
  }

   .price {
    color: #ff4500;
    font-weight: 600;
    text-align: right;
  }


@keyframes change-filter {
  0%{ filter: hue-rotate(0.5); }  
  50%{ filter: sepia(1);}
  100%{ filter: hue-rotate(0.5); }  
}



h1 {
  font-size: 5rem;
  text-shadow: -2px -2px 0 #ffff;
  color: #862c05;
}
.description{
  width: 200px;
  height: 20px;
 
}
.option{
  color: black;
}
h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

button{

  background-color: #1b1d25;
  color: aliceblue;
  width: 80px;
  height: 30px;
}
.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid white;
  padding: 0.9rem;
  border-radius: 12px;
  background: darkgray;

}
h3{
  color: black;
}